<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for Tepro</title>
	<atom:link href="http://www.tepro.com.au/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.tepro.com.au</link>
	<description> Your I.T and Marketing Solutions</description>
	<lastBuildDate>Fri, 22 Nov 2013 03:05:33 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	
	<item>
		<title>Comment on Hello world! by Mr WordPress</title>
		<link>http://www.tepro.com.au/hello-world/#comment-1</link>
		<dc:creator><![CDATA[Mr WordPress]]></dc:creator>
		<pubDate>Fri, 22 Nov 2013 03:05:33 +0000</pubDate>
		<guid isPermaLink="false">http://www.tepro.com.au/?p=1#comment-1</guid>
		<description><![CDATA[Hi, this is a comment.
To delete a comment, just log in and view the post&#039;s comments. There you will have the option to edit or delete them.]]></description>
		<content:encoded><![CDATA[<p>Hi, this is a comment.<br />
To delete a comment, just log in and view the post&#039;s comments. There you will have the option to edit or delete them.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
