/********************
 * FEATURE CAROUSEL *
 ********************/
#carousel-container {
  position:relative;
  width:960px;
}
#carousel {
  height:371px;
  width:960px;
  position:relative;
  margin:-11px 0 0 -8px;
}
#carousel .carousel-image {
  border:0;
  display:block;
}
#carousel .carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  cursor:pointer;
}

#carousel .carousel-feature a img{
	position:relative;
	z-index:29;
	margin:6px 7px 7px 6px;
}
#carousel .mask {
	background:none;
height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
	overflow:hidden;
}
.mask img {
    height: 100%;
    width: 100%;
}
#carousel .carousel-feature .carousel-caption {
  position:absolute;
  bottom:38px;
  left:21px;
  width:91%;
  z-index:9999;
}
#carousel .carousel-feature .carousel-caption p {
  margin:0;
  text-shadow:none;
  color:#333333;
}
#carousel .tracker-summation-container {
  position:absolute;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  display:none !important;
}
#carousel .tracker-individual-container {
  position:absolute;
  right:48px;
  top:210px;
  padding:0;
  margin:0;
  display:none !important;
}
#carousel .tracker-individual-container li {
  list-style:none;
}
#carousel .tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
}
#carousel .tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  font-weight:bold;
}
.navig-nivo.caros {
	top:138px;
	max-width:1036px;
	left:-2px;
}
#carousel-left {
	float:left;
  	cursor:pointer;
  	background:url("../images/arrow-l.png") no-repeat 0 0;
  	height:41px;
  	width:30px;
	margin-left:5px;
   -o-transition: margin-left 0.3s;
   -moz-transition: margin-left 0.3s;
   -webkit-transition: margin-left 0.3s;
   transition: margin-left 0.3s;
}
#carousel-right {
	float:right;
  	cursor:pointer;
  	background:url("../images/arrow-r.png") no-repeat right 0;
   	height:41px;
  	width:30px;
	-o-transition: margin-right 0.3s;
   -moz-transition: margin-right 0.3s;
   -webkit-transition: margin-right 0.3s;
   transition: margin-right 0.3s;

	
}
#carousel-left:hover {
	margin:0 0 0 0;
	background-position: 0 -41px;
	padding-right: 5px;
}
#carousel-right:hover {
	margin:0 -5px 0 0;
	background-position: right -41px;
	padding-left: 5px;
}