@charset "utf-8";
/* CSS Document */
#parallax {
	overflow-x:hidden;
	left:0;
}
/*a.button, #footer a.button {
    padding:2px 0px 0px 4px;
    margin:0px 2px 4px 0;
	 display: inline;
	 float:none;
}

	.button span {
		 display: inline;
		 padding:4px 7px 5px 18px;
		 float:none;
	}
		.button span img{
		   left: 0px;
		   top:3px;
		   width:20px;
		   height:20px;
		}
a.middle.button, #footer a.middle.button {
    padding:7px 0px 0px 7px;
	display: inline;
	 float:none;
}

	a.middle.button span {
		 padding:9px 7px 8px 18px;
	}
		.button.middle span img{
		   left: 0px;
		   top:5px;
		}
a.big.button, #footer a.big.button {
    padding:10px 0px 0px 9px;
	display: inline;
	 float:none;
	 height:30px
}

	a.big.button span {
		 padding:12px 7px 11px 18px;
		 height:25px
	}
		.button.big span img{
		   left: 0px;
		   top:16px;
		}

		.button span i, .button span img{
		   position: absolute;
		   left: 0px;
		   top:2px;
		}*/

a.button.categ {
	float:right;
	margin:1px 0 2px 2px;
}
	a.button.categ span {
		height:23px;
		padding:1px 10px 0px 10px;
		float:left;
	}
		a.button.categ span i {
			top:2px;
		}
	
.navigation .paginator li a.button {
		margin:1px 0px 2px 0;
		padding:0 4px 1px 4px;
	}
	.navigation .paginator li a.button span {
		padding:3px 8px 6px 4px;
	}
.entry-content {
	overflow:hidden;
}
	.map {
		padding:5px 4px 5px;
	}
	.videos {
		 padding:5px 0 5px 5px;
	}
.textwidget-photo {
	display:inline;
	zoom:1;
	float:left;
}
#wrapper .info.half {
	display:inline;
	zoom:1;
	float:left !important;
}
#comments .children .children {
	background:none;
}
 #comments .level2.last.nochildren {

		background: none;
	}
#comments .comment {
		background-position: -46px -129px;
	}
		#comments .level2 {
			background-position: -20px -117px;
		}
			#comments .level3 {
				background-position: 36px -119px;
			}
				#comments .level4 {
					background-position: 36px -119px;
				}
					#comments .level5 {
						background-position: 118px -120px;
					}

#comments .comment .text {
	width:600px;
}
	#comments .level2 .text {
			width: 530px;
	}
		#comments .level3 .text {
			width: 444px;
		}
			#comments .level4 .text {
				width: 365px;
			}
				#comments .level5 .text {
					width: 287px;
				}
		#comments .level2 {
		background: none repeat scroll 0 0;
		padding-left: 81px;
	}
		#comments .level3 {
			padding-left: 83px;
		}
			#comments .level4 {
			   padding-left: 80px;
			}
				#comments .level5 {
				   padding-left: 160px;
				}
				
#header.logo-left .logo {
	float:left;
	margin:20px 0 0 0 !important;
	height:auto !important;
}
#header.logo-left .contact-block {
	float:right;
	margin:20px 0 0 0;
}

#header.logo-center .logo {
	margin:0 auto;
	width:100%;
	text-align:center;
}
#header.logo-center .logo img {
	vertical-align:middle;
}
#header.logo-center .contact-block {
	float:left;
	margin:0px auto 0px;
}
.navig-category {
	float:none;
}
  #footer .one-fourth, .text-inline, #container > div {
	  display:inline !important;
	  zoom:1
  }
   #container > p {
	   display:block;
	}
#nav li div {
	top:32px;
}
#header {
	z-index:101
}
ul.gallery  {
	float:none
}
ul li.gallery-item, #container .textwidget {
	display:inline !important;
	zoom:1;
}
.navig-category.no-category {
	width:90px !important;
}