<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Tepro</title>
	<atom:link href="http://www.tepro.com.au/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.tepro.com.au</link>
	<description> Your I.T and Marketing Solutions</description>
	<lastBuildDate>Wed, 13 Aug 2014 05:20:34 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	
	<item>
		<title>Consultation</title>
		<link>http://www.tepro.com.au/consultation/</link>
		<pubDate>Thu, 27 Mar 2014 04:36:56 +0000</pubDate>
		<dc:creator><![CDATA[Matt Walter]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://www.tepro.com.au/?p=234</guid>
		<description><![CDATA[<p>“TePro employs talented sales, marketing and I.T professionals with the knack of making a difference at small businesses. We have strategically headhunted managers and directors with extensive experience in all facets of cloud based, marketing and sales strategy, from strategic<span class="ellipsis">&#8230;</span>
<div class="read-more"><a href="http://www.tepro.com.au/consultation/">Read more &#8250;</a></div>
<p><!-- end of .read-more --></p>
<p>The post <a rel="nofollow" href="http://www.tepro.com.au/consultation/">Consultation</a> appeared first on <a rel="nofollow" href="http://www.tepro.com.au">Tepro</a>.</p>
]]></description>
				<content:encoded><![CDATA[<blockquote>
<h4>“TePro employs talented sales, marketing and I.T professionals with the knack of making a difference at small businesses. We have strategically headhunted managers and directors with extensive experience in all facets of cloud based, marketing and sales strategy, from strategic marketing planning to direct marketing, customer service, events, process streamlining, social media and lead generation.”</h4>
</blockquote>
<p>&nbsp;</p>
<p>Our consultants work as part of your team and are responsible for all the cloud based outcomes of your small business. All have qualifications in either sales or marketing and have spent time in the I.T Marketing or sales industry. They all understand the hurdles encountered by individual small businesses and are aware of a growing business’s budget constraints.</p>
<p>At Tepro, our consultants are results-oriented, dedicated to making a difference to their small business clients and have a strong passion for success. Their roles as consultants vary from client to client, arming them with extensive experience in a wide variety of industries. Each manager is supported by a team of staff skilled in technical areas ensuring that strategies are implemented with your short and long-term goals in mind.</p>
<p>We’re as committed to our staff as you are to your business, and continue to up skill them with the latest in technology, training and resources. In turn, this provides you with up-to-date industry knowledge, giving you and your team the chance to learn from our experience and client case studies.</p>
<p>Tepro consultants believe in long-term relationships and will develop a strategy in line with your overall business goals, delivering integrated marketing activities which lead to successful business outcomes, so contact us today.</p>
<p>The post <a rel="nofollow" href="http://www.tepro.com.au/consultation/">Consultation</a> appeared first on <a rel="nofollow" href="http://www.tepro.com.au">Tepro</a>.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Hello world!</title>
		<link>http://www.tepro.com.au/hello-world/</link>
		<comments>http://www.tepro.com.au/hello-world/#comments</comments>
		<pubDate>Fri, 22 Nov 2013 03:05:33 +0000</pubDate>
		<dc:creator><![CDATA[Matt Walter]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://www.tepro.com.au/?p=1</guid>
		<description><![CDATA[<p>Welcome to WordPress. This is your first post. Edit or delete it, then start blogging!</p>
<p>The post <a rel="nofollow" href="http://www.tepro.com.au/hello-world/">Hello world!</a> appeared first on <a rel="nofollow" href="http://www.tepro.com.au">Tepro</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Welcome to WordPress. This is your first post. Edit or delete it, then start blogging!</p>
<p>The post <a rel="nofollow" href="http://www.tepro.com.au/hello-world/">Hello world!</a> appeared first on <a rel="nofollow" href="http://www.tepro.com.au">Tepro</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://www.tepro.com.au/hello-world/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
