@charset "UTF-8";
/* CSS Document */

#sk-protected { 
	width: 315px; 
	margin: 20px 0;
}

#sk-protected .sk-protected-form { 
	background: url("../images/shortcodes/password-protected-bg.png") no-repeat; 
	height: 144px; 
	margin-bottom: 10px; 
	padding: 26px 33px 0px 30px; 
	font-family: Arial, sans-serif; 
}

#sk-protected .sk-protected-form p { 
	padding-bottom: 16px; 
	margin-bottom: 0px;
}

#sk-protected .sk-protected-form p input { 
	background: url("../images/shortcodes/protected-input-bg.png") repeat-x; 
	border: 1px solid #dadada; 
	margin: 0px 0px 0px 14px; 
	padding: 5px; 
	width:150px; 
}

#sk-protected .sk-protected-form p input[type="password"] { 
	margin-left: 16px; 
}

#sk-protected .sk-protected-form p input:focus { 
	border-color:#2D3940; 
	color:#3E3E3E; 
}

#sk-protected .sk-protected-form input#sklogin-button { 
	background: url("../images/shortcodes/protected-login-bg.png") no-repeat; 
	border: none; 
	cursor: pointer;
	width: 59px; 
	height: 24px; 
	float: right; 
	color: #ffffff; 
	font-size: 11px; 
	text-shadow: -1px -1px 1px #000000;  
	font-family: Arial, sans-serif; 
	line-height: 0;
}
		
#sk-protected .sk-protected-form label { 
	color: #757575; 
	font-size: 14px; 
}

#sk-protected p.sk-registration { 
	text-align: right; 
	font: 12px Georgia, serif; 
	color: #757575; 
	padding: 0;
	margin-bottom: 3px;
}

#sk-protected p.sk-registration a { 
	color: #424242; 
	font-style: italic; 
	font-weight: bold; 
}

/* SMALL BUTTONS */
.button-small {
	color: #ffffff !important;
	font: bold 12px/18px Arial, Helvetica, sans-serif;
	display: inline-block;
	height: 17px;
	margin: 0 1em 1em 15px;
	padding: 4px 20px 6px 5px;
	position: relative;
	text-decoration: none !important;
}

	.button-small span {
		
		height: 27px;
		left: -15px;
		position: absolute;
		top: 0;
		width: 15px;
		
	}
	
.button-small:hover { text-decoration: none; }

.pullquote-right, .pullquote-left {
	color:#666;
	float:right;
	font-size:14px;
	letter-spacing:0;
	line-height:25px;
	margin-bottom:20px;
	margin-left:20px;
	margin-top:20px;
	padding:0 0 0 20px;
	width:33%;
	border-left: 3px solid #CCC;
}

.pullquote-left  {
	border-right: 3px solid #CCC;
	border-left: none;
	float:left;
	margin-left:0;
	margin-right:20px;
}


/* BUTTON COLORS */

.rounded-blue { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right 0; text-shadow: 0 1px 1px #0c5b76; }
.rounded-blue:hover { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -27px; }
.rounded-blue span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left 0; }
.rounded-blue:hover span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -27px; }

.rounded-orange { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -54px; text-shadow: 0 1px 1px #9b5510; }
.rounded-orange:hover { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -81px; }
.rounded-orange span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -54px; }
.rounded-orange:hover span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -81px; }

.rounded-green { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -108px; text-shadow: 0 1px 1px #4b760c; }
.rounded-green:hover { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -135px; }
.rounded-green span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -108px; }
.rounded-green:hover span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -135px; }

.rounded-purple { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -162px; text-shadow: 0 1px 1px #5b1485; }
.rounded-purple:hover { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -189px; }
.rounded-purple span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -162px; }
.rounded-purple:hover span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -189px; }

.rounded-pink { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -216px; text-shadow: 0 1px 1px #7f0e4d; }
.rounded-pink:hover { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -243px; }
.rounded-pink span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -216px; }
.rounded-pink:hover span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -243px; }

.rounded-red { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -270px; text-shadow: 0 1px 1px #911a1a; }
.rounded-red:hover { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -297px; }
.rounded-red span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -270px; }
.rounded-red:hover span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -297px; }

.rounded-grey { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -324px; text-shadow: 0 1px 1px #535353; }
.rounded-grey:hover { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -351px; }
.rounded-grey span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -324px; }
.rounded-grey:hover span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -351px; }

.rounded-light { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -378px; text-shadow: 0 1px 1px #ffffff; color: #464646 !important; }
.rounded-light:hover { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -405px; }
.rounded-light span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -378px; }
.rounded-light:hover span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -405px; }

.rounded-black { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -432px; text-shadow: 0 1px 1px #000000; }
.rounded-black:hover { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -459px; }
.rounded-black span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -432px; }
.rounded-black:hover span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -459px; }

.rounded-grey-glossy { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -486px; text-shadow: 0 1px 1px #535353; }
.rounded-grey-glossy:hover { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -513px; }
.rounded-grey-glossy span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -486px; }
.rounded-grey-glossy:hover span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -513px; }

.rounded-light-glossy { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -540px; text-shadow: 0 1px 1px #ffffff; color: #464646 !important; }
.rounded-light-glossy:hover { background: url("../images/shortcodes/rounded-buttons-right.png") no-repeat right -567px; }
.rounded-light-glossy span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -540px; }
.rounded-light-glossy:hover span { background: url("../images/shortcodes/rounded-buttons-left.png") no-repeat left -567px; }

.square-blue { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right 0; text-shadow: 0 1px 1px #0c5b76; }
.square-blue:hover { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -27px; }
.square-blue span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left 0; }
.square-blue:hover span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -27px; }

.square-orange { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -54px; text-shadow: 0 1px 1px #9b5510; }
.square-orange:hover { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -81px; }
.square-orange span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -54px; }
.square-orange:hover span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -81px; }

.square-green { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -108px; text-shadow: 0 1px 1px #4b760c; }
.square-green:hover { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -135px; }
.square-green span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -108px; }
.square-green:hover span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -135px; }

.square-purple { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -162px; text-shadow: 0 1px 1px #5b1485; }
.square-purple:hover { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -189px; }
.square-purple span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -162px; }
.square-purple:hover span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -189px; }

.square-pink { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -216px; text-shadow: 0 1px 1px #7f0e4d; }
.square-pink:hover { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -243px; }
.square-pink span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -216px; }
.square-pink:hover span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -243px; }

.square-red { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -270px; text-shadow: 0 1px 1px #911a1a; }
.square-red:hover { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -297px; }
.square-red span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -270px; }
.square-red:hover span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -297px; }

.square-grey { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -324px; text-shadow: 0 1px 1px #535353; }
.square-grey:hover { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -351px; }
.square-grey span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -324px; }
.square-grey:hover span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -351px; }

.square-light { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -378px; text-shadow: 0 1px 1px #ffffff; color: #464646 !important; }
.square-light:hover { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -405px; }
.square-light span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -378px; }
.square-light:hover span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -405px; }

.square-black { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -432px; text-shadow: 0 1px 1px #000000; }
.square-black:hover { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -459px; }
.square-black span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -432px; }
.square-black:hover span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -459px; }

.square-grey-glossy { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -486px; text-shadow: 0 1px 1px #535353; }
.square-grey-glossy:hover { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -513px; }
.square-grey-glossy span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -486px; }
.square-grey-glossy:hover span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -513px; }

.square-light-glossy { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -540px; text-shadow: 0 1px 1px #ffffff; color: #464646 !important; }
.square-light-glossy:hover { background: url("../images/shortcodes/square-buttons-right.png") no-repeat right -567px; }
.square-light-glossy span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -540px; }
.square-light-glossy:hover span { background: url("../images/shortcodes/square-buttons-left.png") no-repeat left -567px; }

/* ICON BUTTONS */

.button-icon {
	background: url("../images/shortcodes/buttons-right.png") no-repeat right 0;
	text-shadow: 0 1px 1px #ffffff !important;
	color: #464646 !important;
	font: normal 12px/18px Arial, Helvetica, sans-serif;
	display: inline-block;
	height: 17px;
	margin: 0 1em 1em 13px;
	padding: 8px 20px 9px 0;
	position: relative;
	text-decoration: none !important;
}

.button-icon span {
	background: url("../images/shortcodes/buttons-left.png") no-repeat left 0;
	height: 34px;
	left: -16px;
	position: absolute;
	top: 0;
	width: 16px;
}
	
.button-icon em { width: 16px; height: 16px; float: left; margin-right: 5px; }
.button-icon:hover { background: url("../images/shortcodes/buttons-right.png") no-repeat right -35px; }
.button-icon:hover span { background: url("../images/shortcodes/buttons-left.png") no-repeat left -35px; }
	
.button-icon:hover { text-decoration: none; }

.icon-accept em { background: url("../images/shortcodes/icons/accept.png") no-repeat top left; }
.icon-add em { background: url("../images/shortcodes/icons/add.png") no-repeat top left; }
.icon-anchor em { background: url("../images/shortcodes/icons/anchor.png") no-repeat top left; }
.icon-cancel em { background: url("../images/shortcodes/icons/cancel.png") no-repeat top left; }
.icon-clock em { background: url("../images/shortcodes/icons/clock.png") no-repeat top left; }
.icon-coins em { background: url("../images/shortcodes/icons/coins.png") no-repeat top left; }
.icon-delete em { background: url("../images/shortcodes/icons/delete.png") no-repeat top left; }
.icon-heart em { background: url("../images/shortcodes/icons/heart.png") no-repeat top left; }
.icon-hourglass em { background: url("../images/shortcodes/icons/hourglass.png") no-repeat top left; }
.icon-house em { background: url("../images/shortcodes/icons/house.png") no-repeat top left; }
.icon-information em { background: url("../images/shortcodes/icons/information.png") no-repeat top left; }
.icon-lightbulb em { background: url("../images/shortcodes/icons/lightbulb.png") no-repeat top left; }
.icon-lightning em { background: url("../images/shortcodes/icons/lightning.png") no-repeat top left; }
.icon-lock em { background: url("../images/shortcodes/icons/lock.png") no-repeat top left; }
.icon-palette em { background: url("../images/shortcodes/icons/palette.png") no-repeat top left; }
.icon-refresh em { background: url("../images/shortcodes/icons/refresh.png") no-repeat top left; }
.icon-switch em { background: url("../images/shortcodes/icons/switch.png") no-repeat top left; }
.icon-asterisk em { background: url("../images/shortcodes/icons/asterisk.png") no-repeat top left; }
.icon-bell em { background: url("../images/shortcodes/icons/bell.png") no-repeat top left; }
.icon-bomb em { background: url("../images/shortcodes/icons/bomb.png") no-repeat top left; }
.icon-bricks em { background: url("../images/shortcodes/icons/bricks.png") no-repeat top left; }
.icon-briefcase em { background: url("../images/shortcodes/icons/briefcase.png") no-repeat top left; }
.icon-cake em { background: url("../images/shortcodes/icons/cake.png") no-repeat top left; }
.icon-color em { background: url("../images/shortcodes/icons/color.png") no-repeat top left; }
.icon-disconnect em { background: url("../images/shortcodes/icons/disconnect.png") no-repeat top left; }
.icon-door em { background: url("../images/shortcodes/icons/door.png") no-repeat top left; }
.icon-emoticon em { background: url("../images/shortcodes/icons/emoticon.png") no-repeat top left; }
.icon-feed em { background: url("../images/shortcodes/icons/feed.png") no-repeat top left; }
.icon-cart em { background: url("../images/shortcodes/icons/cart.png") no-repeat top left; }

/* BIG BUTTONS */
.button-big {
	color: #ffffff !important;
	font: bold 16px/22px Arial, Helvetica, sans-serif;
	display: inline-block;
	height: 37px;
	margin: 0 1em 1em 16px;
	padding: 10px 20px 11px 5px;
	position: relative;
	text-decoration: none !important;
}

.button-big:hover { text-decoration: none; }

.button-big em {
	font: italic 11px/14px Arial, Helvetica, sans-serif;
	display: block;
}

.button-big span {
	height: 58px;
	left: -16px;
	position: absolute;
	top: 0;
	width: 16px;
}
	
.big-blue em { color: #cfe2e7; }
.big-blue { background:url("../images/shortcodes/big-right.png") no-repeat right 0; text-shadow: 0 1px 1px #0c5b76; }
.big-blue:hover { background:url("../images/shortcodes/big-right.png") no-repeat right -58px; }
.big-blue span { background: url("../images/shortcodes/big-left.png") no-repeat left 0; }
.big-blue:hover span { background: url("../images/shortcodes/big-left.png") no-repeat left -58px; }
	
.big-orange em { color: #e2d6c2; }
.big-orange { background:url("../images/shortcodes/big-right.png") no-repeat right -116px; text-shadow: 0 1px 1px #9b5510; }
.big-orange:hover { background:url("../images/shortcodes/big-right.png") no-repeat right -174px; }
.big-orange span { background: url("../images/shortcodes/big-left.png") no-repeat left -116px; }
.big-orange:hover span { background: url("../images/shortcodes/big-left.png") no-repeat left -174px; }
	
.big-green em { color: #d8dfbe; }
.big-green { background:url("../images/shortcodes/big-right.png") no-repeat right -232px; text-shadow: 0 1px 1px #4b760c; }
.big-green:hover { background:url("../images/shortcodes/big-right.png") no-repeat right -290px; }
.big-green span { background: url("../images/shortcodes/big-left.png") no-repeat left -232px; }
.big-green:hover span { background: url("../images/shortcodes/big-left.png") no-repeat left -290px; }
	
.big-purple em { color: #d3bddc; }
.big-purple { background:url("../images/shortcodes/big-right.png") no-repeat right -348px; text-shadow: 0 1px 1px #5b1485; }
.big-purple:hover { background:url("../images/shortcodes/big-right.png") no-repeat right -406px; }
.big-purple span { background: url("../images/shortcodes/big-left.png") no-repeat left -348px; }
.big-purple:hover span { background: url("../images/shortcodes/big-left.png") no-repeat left -406px; }
	
.big-pink em { color: #dcb9ce; }
.big-pink { background:url("../images/shortcodes/big-right.png") no-repeat right -464px; text-shadow: 0 1px 1px #7f0e4d; }
.big-pink:hover { background:url("../images/shortcodes/big-right.png") no-repeat right -522px; }
.big-pink span { background: url("../images/shortcodes/big-left.png") no-repeat left -464px; }
.big-pink:hover span { background: url("../images/shortcodes/big-left.png") no-repeat left -522px; }
	
.big-red em { color: #ddb9b9; }
.big-red { background:url("../images/shortcodes/big-right.png") no-repeat right -580px; text-shadow: 0 1px 1px #911a1a; }
.big-red:hover { background:url("../images/shortcodes/big-right.png") no-repeat right -638px; }
.big-red span { background: url("../images/shortcodes/big-left.png") no-repeat left -580px; }
.big-red:hover span { background: url("../images/shortcodes/big-left.png") no-repeat left -638px; }
	
.big-grey em { color: #eeeeee; }
.big-grey { background:url("../images/shortcodes/big-right.png") no-repeat right -696px; text-shadow: 0 1px 1px #535353; }
.big-grey:hover { background:url("../images/shortcodes/big-right.png") no-repeat right -754px; }
.big-grey span { background: url("../images/shortcodes/big-left.png") no-repeat left -696px; }
.big-grey:hover span { background: url("../images/shortcodes/big-left.png") no-repeat left -754px; }
	
.big-light em { color: #888888; }
.big-light { background:url("../images/shortcodes/big-right.png") no-repeat right -812px; text-shadow: 0 1px 1px #ffffff; color: #464646 !important; }
.big-light:hover { background:url("../images/shortcodes/big-right.png") no-repeat right -870px; }
.big-light span { background: url("../images/shortcodes/big-left.png") no-repeat left -812px; }
.big-light:hover span { background: url("../images/shortcodes/big-left.png") no-repeat left -870px; }
	
.big-black em { color: #dddddd; }
.big-black { background:url("../images/shortcodes/big-right.png") no-repeat right -928px; text-shadow: 0 1px 1px #000000; }
.big-black:hover { background:url("../images/shortcodes/big-right.png") no-repeat right -986px; }
.big-black span { background: url("../images/shortcodes/big-left.png") no-repeat left -928px; }
.big-black:hover span { background: url("../images/shortcodes/big-left.png") no-repeat left -986px; }
	
.big-grey-glossy em { color: #eeeeee; }
.big-grey-glossy { background:url("../images/shortcodes/big-right.png") no-repeat right -1044px; text-shadow: 0 1px 1px #535353; }
.big-grey-glossy:hover { background:url("../images/shortcodes/big-right.png") no-repeat right -1102px; }
.big-grey-glossy span { background: url("../images/shortcodes/big-left.png") no-repeat left -1044px; }
.big-grey-glossy:hover span { background: url("../images/shortcodes/big-left.png") no-repeat left -1102px; }
	
.big-light-glossy em { color: #888888; }
.big-light-glossy { background:url("../images/shortcodes/big-right.png") no-repeat right -1160px; text-shadow: 0 1px 1px #ffffff; color: #464646 !important; }
.big-light-glossy:hover { background:url("../images/shortcodes/big-right.png") no-repeat right -1218px; }
.big-light-glossy span { background: url("../images/shortcodes/big-left.png") no-repeat left -1160px; }
.big-light-glossy:hover span { background: url("../images/shortcodes/big-left.png") no-repeat left -1218px; }
	
.big-yellow em { color: #3b3b3b; }
.big-yellow { background:url("../images/shortcodes/big-right.png") no-repeat right -1276px; text-shadow: 0 1px 1px #ffffff; color: #292929 !important; }
.big-yellow:hover { background:url("../images/shortcodes/big-right.png") no-repeat right -1334px; }
.big-yellow span { background: url("../images/shortcodes/big-left.png") no-repeat left -1276px; }
.big-yellow:hover span { background: url("../images/shortcodes/big-left.png") no-repeat left -1334px; }

/* TOOLTIPS */

.sktooltip {
	position: relative;
}

.sktooltip .tooltip-body {
	color: #ffffff;
	display: none;
	font: normal 14px/18px Arial, Helvetica, sans-serif;
	padding: 12px 20px;
	position: absolute;
	left: -10px;
	bottom: 35px;
	width: 200px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
	
.sktooltip .tooltip-body .tooltip-arrow {
	border: none;
	bottom: -13px;
	height: 13px;
	left: 20px;
	position: absolute;
	width: 26px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
		
.tooltip-blue { color: #1d89b1; }		
.tooltip-blue .tooltip-body { border: 1px solid #317d9b; background: #1d8bb4; text-shadow: 0 1px 1px #0c5b76; }
.tooltip-blue .tooltip-arrow { background: url("../images/shortcodes/tooltips/arrow-blue.png") no-repeat top left; }

.tooltip-orange { color: #e87614; }
.tooltip-orange .tooltip-body { border: 1px solid #be7125; background: #e97813; text-shadow: 0 1px 1px #9f5513; }
.tooltip-orange .tooltip-body .tooltip-arrow { background: url("../images/shortcodes/tooltips/arrow-orange.png") no-repeat top left; }

.tooltip-red { color: #c42828; }
.tooltip-red .tooltip-body { border: 1px solid #a01515; background: #c42828; text-shadow: 0 1px 1px #8e1818; }
.tooltip-red .tooltip-body .tooltip-arrow { background: url("../images/shortcodes/tooltips/arrow-red.png") no-repeat top left; }

.tooltip-green { color: #70aa23; }
.tooltip-green .tooltip-body { border: 1px solid #6e8a19; background: #70aa23; text-shadow: 0 1px 1px #537e1a; }
.tooltip-green .tooltip-body .tooltip-arrow { background: url("../images/shortcodes/tooltips/arrow-green.png") no-repeat top left; }

.tooltip-purple { color: #7726bd; }
.tooltip-purple .tooltip-body { border: 1px solid #50158c; background: #7726bd; text-shadow: 0 1px 1px #411864; }
.tooltip-purple .tooltip-body .tooltip-arrow { background: url("../images/shortcodes/tooltips/arrow-purple.png") no-repeat top left; }

.tooltip-pink { color: #c42173; }
.tooltip-pink .tooltip-body { border: 1px solid #98195e; background: #c42173; text-shadow: 0 1px 1px #6e0d3f; }
.tooltip-pink .tooltip-body .tooltip-arrow { background: url("../images/shortcodes/tooltips/arrow-pink.png") no-repeat top left; }
	
.tooltip-grey { color: #868686; }	
.tooltip-grey .tooltip-body { border: 1px solid #868686; background: #868686; text-shadow: 0 1px 1px #222222; }
.tooltip-grey .tooltip-body .tooltip-arrow { background: url("../images/shortcodes/tooltips/arrow-grey.png") no-repeat top left; }

.tooltip-light { color: #b8b8b8; }
.tooltip-light .tooltip-body { border: 1px solid #bababa; background: #d8d8d8; text-shadow: 0 1px 1px #ffffff; color: #464646 !important; }
.tooltip-light .tooltip-body .tooltip-arrow { background: url("../images/shortcodes/tooltips/arrow-light.png") no-repeat top left; }

.tooltip-black { color: #1d1d1d; }
.tooltip-black .tooltip-body { border: 1px solid #101010; background: #1d1d1d; text-shadow: 0 1px 0 #000000; }
.tooltip-black .tooltip-body .tooltip-arrow { background: url("../images/shortcodes/tooltips/arrow-black.png") no-repeat top left; }

/* SK-Notification */

.sk-notification {
	color: #ffffff;
	display: block;
	font-size: 12px;
	margin: 1em 0;
	padding: 20px 20px 20px 90px;
	position: relative;
}

.sk-notification span.icon {
	height: 32px;
	left: 20px;
	position: absolute;
	top: 15px;
	width: 32px;
}
	
.sk-notification span.close {
	background: url("../images/shortcodes/notifications/close.png") no-repeat top left;
	cursor: pointer;
	height: 13px;
	position: absolute;
	right: 8px;
	top: 8px;
	width: 13px;
}
	
.notification-error { background: #c02424 url("../images/shortcodes/notifications/error.gif") repeat-x top left; border: 1px solid #a01515; color:#660404; }
.notification-error span.icon { background: url("../images/shortcodes/notifications/error-icon.png") no-repeat top left; }
	
.notification-success { background: #6ba623 url("../images/shortcodes/notifications/success.gif") repeat-x top left; border: 1px solid #6e8a19; color: #405100; }
.notification-success span.icon { background: url("../images/shortcodes/notifications/success-icon.png") no-repeat top left; }
	
.notification-info { background: #1d86af url("../images/shortcodes/notifications/info.gif") repeat-x top left; border: 1px solid #317d9b; color:#084752; }
.notification-info span.icon { background: url("../images/shortcodes/notifications/info-icon.png") no-repeat top left; }
	
.notification-alert { background: #e77414 url("../images/shortcodes/notifications/alert.gif") repeat-x top left; border: 1px solid #be7125; color:#7e5700;}
.notification-alert span.icon { background: url("../images/shortcodes/notifications/alert-icon.png") no-repeat top left; }
	
.notification-standard { background: #d7d7d7 url("../images/shortcodes/notifications/standard.gif") repeat-x top left; border: 1px solid #bababa; color: #464646 !important; }
.notification-standard span.icon { background: url("../images/shortcodes/notifications/standard-icon.png") no-repeat top left; }

.notification-standard span.close { background: url("../images/shortcodes/notifications/close.png") no-repeat bottom left; }


/* IMAGE SLIDER */

.skimage-slider {
	background: #fafafa;
	border: 1px dotted #e1e1e1;
	margin-bottom: 30px;
	padding: 9px;
	position: relative;
}

.skimage-slider .shadow-left, .skimage-slider .shadow-right {
	bottom: -21px;
	height: 20px;
	position: absolute;
	width: 50%;
}
	
.skimage-slider .shadow-left {
	background: url("../images/shortcodes/slider/shadow-left.png") no-repeat top left;
	left: 0;
}

.skimage-slider .shadow-right {
	background: url("../images/shortcodes/slider/shadow-right.png") no-repeat top right;
	right: 0;
}
	
.skimage-slider-selector {
	background: url("../images/shortcodes/slider/selector-right.png") no-repeat top right !important;
	list-style: none;
	bottom: -31px;
	height: 24px;
	padding: 12px 0 0 0;
	position: absolute;
	z-index: 10;
	margin:auto auto;
}
	
.skimage-slider-selector .border {
	background: url("../images/shortcodes/slider/selector-left.png") no-repeat top left !important;
	cursor: default;
	height: 36px;
	left: -12px;
	position: absolute;
	top: 0;
	width: 12px;
}
		
.skimage-slider-selector li {
	background: url("../images/shortcodes/slider/selector.png") no-repeat top left !important;
	cursor: pointer;
	list-style: none !important;
	float: left;
	height: 11px;
	margin: 0 10px 0 0 !important;
	padding: 0 !important;
	width: 11px;
}
			
.skimage-slider-selector li.current { 
	background: url("../images/shortcodes/slider/selector-on.png") no-repeat top left !important;
}
			
.skimage-slider .arrow-left, .skimage-slider .arrow-right {
	cursor: pointer;
	height: 100%;
	position: absolute;
	top: 0;
	width: 200px;
}
	
.skimage-slider .arrow-left {
	left: 10px;
}
	
.skimage-slider .arrow-left:hover {
	background: url("../images/shortcodes/slider/arrow-left.png") no-repeat left center;
}
			
.skimage-slider .arrow-right {
	right: 10px;
}
	
.skimage-slider .arrow-right:hover {
	background: url("../images/shortcodes/slider/arrow-right.png") no-repeat right center;
}
		
.skimage-slider-images {
	list-style: none;
	padding: 0;
	position: relative;
	margin: 0;
	overflow: hidden !important;
}
	
.skimage-slider-images img {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	background: none !important;
}	
	
.skimage-slider-images li {
	list-style: none !important;
	display: none;
	margin: 0 !important;
	padding: 0 !important;
	position: absolute;
	background: none !important;
}
		
/* TOGGLE BOX */

.sktoggle-open, .sktoggle-closed {
	background: #f1f1f1;
	border: 1px solid #e1e1e1;
	margin: 1em 0;
	padding: 20px 20px 0px 20px;
	position: relative;
}

.sktoggle-open .toggle-handler, .sktoggle-closed .toggle-handler {
	color: #666666;
	cursor: pointer;
	display: block !important;
	margin-bottom: 20px;
	font: normal 18px/28px Arial, Helvetica, sans-serif;
}
	
.sktoggle-open .toggle-handler { background: url("../images/shortcodes/toggled/arrow-up.gif") no-repeat center right; }
	
.sktoggle-closed .toggle-handler { background: url("../images/shortcodes/toggled/arrow.gif") no-repeat center right; }
	
.sktoggle-closed .toggle-content, .sktoggle-open .toggle-content { display: none; margin-bottom: 20px; color:#666666 !important }
	
/* TABBED CONTENT */

.cols .col_2-3 .sktabbed {
	margin: 52px 0 2em 0;
	padding: 10px 10px 0 0px;
	position: relative;
	width:600px;
}
.cols > .sktabbed {
	margin: 52px 0 2em 10px !important;
}
.cols .sktabbed {
	width:940px;
	margin: 52px 0 2em 0px;
	padding: 10px 10px 0 0px;
	position: relative;
}
.sktabbed .tabbed {
	list-style: none;
	margin: 0 0 0 0 !important;
	padding: 0 !important;	
	background-color: #e9e9e9;
	border-top: 1px solid #FFFFFF;
	-moz-box-shadow: 0 0 2px 0 #000;
	 -webkit-box-shadow: 0 0 2px 0 #000;
	 box-shadow: 0 0 2px 0 #000;
}
	
.sktabbed .tabbed li, #content .tabbed li {
	background: none;
	padding: 14px 20px 15px 20px;
	margin: 0 0 5px 0;
	display: none;
	color:#3b3b3b;
	text-shadow:#FFF 1px 1px 0px;
}
		
.sktabbed .tabbed li p { 
	margin: 0 0 1em 0; 
}
		
.sktabbed .tabbed li.current {
	display: block;
}
		
.sktabbed .tabs {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
	position: absolute;
	top: -31px;
	left: 0px;
}
	
.sktabbed .tabs li, #content .sktabbed .tabs li {
	list-style: none !important;	
	background: #e9e9e9;
	border-top: 1px solid #FFFFFF;
	-moz-box-shadow: 0 0 2px 0 #000;
	 -webkit-box-shadow: 0 0 2px 0 #000;
	 box-shadow: 0 0 2px 0 #000;
	text-shadow: 1px 1px 0px #ffffff;
	cursor: pointer;
	float: left;
	font-size:12;
	line-height:39px;
	text-align:center;
	color: #3b3b3b;
	padding: 0 20px!important;
	margin: 0 1px 0 0!important;
}
.sktabbed .tabs li a, #content .sktabbed .tabs li a {
	color: #3b3b3b;
	text-decoration:none;
}

.sktabbed .tabs li:hover a, #content .sktabbed .tabs li:hover a {
	text-decoration:underline;
}
.sktabbed .tabs li.current:hover a, #content .sktabbed .tabs li.current:hover a {
	text-decoration:none;
}
.sktabbed .tabbed li.current, #content .sktabbed .tabbed li.current  {
	display:block;
}		

				
/* CONTENT SLIDER */

.skslideshow {
	background: #f1f1f1;
	border: 1px solid #e1e1e1;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 7px;
}

.skslideshow ul {
	background: #ffffff;
	display: block;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	list-style: none;
	padding: 0;
	position: absolute;
	margin: 0;
}
	
.skslideshow ul li {
	margin: 0;
	display: inline;
}

.skone-half, .skone-third, .sktwo-thirds,
.skone-fourth, .skthree-fourths { 	
	float:left; 
	margin-right:4%;
	margin-bottom: 10px;
	position:relative; }
.skone-half { width: 48%; }
.skone-third { width: 30.66%; }
.sktwo-thirds { width:65.32%; }
.skone-fourth { width:22%; }
.skthree-fourths { width:74%; }

.sklast { margin-right: 0 !important; clear: right; }
.skclear { clear: both; }

.skhighlight { margin: 0 1px; }

.skhighlight.highlight-blue {	
	background: #14a0c9;
	color: #fff;
	padding: 1px 4px;
	text-shadow:none;
}

.skhighlight.highlight-orange {	
	background: #d14f00;
	color: #fff;
	padding: 1px 4px;
	text-shadow:none;
}

.skhighlight.highlight-green {	
	background: #28a007;
	color: #fff;
	padding: 1px 4px;
	text-shadow:none;
}

.skhighlight.highlight-purple {	
	background: #8600c9;
	color: #ffffff;
	padding: 1px 4px;
	text-shadow:none;
}

.skhighlight.highlight-pink {	
	background: #ad2349;
	color: #ffffff;
	text-shadow:none;
	padding: 1px 4px;
}

/*.skhighlight.highlight-red {	
	background: #f21010;
	color: #ffffff;
	padding: 1px 4px;
}

.skhighlight.highlight-grey {	
	background: #868686;
	color: #ffffff;
	padding: 1px 4px;
}*/

.skhighlight.highlight-light {	
	background: #636363;
	color: #fff;
	padding: 1px 4px;
	text-shadow:none;
}
/*
.skhighlight.highlight-black {	
	background: #000000;
	color: #ffffff;
	padding: 1px 4px;
}*/

.skhighlight.highlight-yellow {	
	background: #f5d11e;
	color: #000000;
	text-shadow:none;
	padding: 1px 4px;
}

span.skdropcap {
	color:#888888;
	float:left;
	font-size:3.571em;
	line-height:0.76em;
	padding:0.04em 0.12em 0 0;
}

#TwitterCounter { float: left; margin-right: 10px; }
.sktabbed .tabbed ul, .sktabbed .tabbed ol {display:block;list-style-type:circle !important;margin-bottom:10px !important;}
.sktabbed .tabbed ul li, .sktabbed .tabbed ol li{display:list-item; margin: 0 0 0 10px !important; padding:5px !important;}