/*
Theme Name: Blank Essence
Theme URL: http://essence.ithemes.com
Description: Blank Essence is a clean and simple, stripped down WordPress web theme.
Author: iThemes.com
Author URI: http://ithemes.com
Version: 3.3.18

Copyright (c) 2009 iThemes Media, LLC.
See license.txt for terms and conditions.

See history.txt for version history.
*/

body {
	position: relative;
	background: #d6d6d6;
	width: 852px;
	color: #555555;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	margin: 0px auto 0px;
	padding: 0px;
	}
.clearfix:after { content: "."; display: block; clear: both; margin: 0px; padding: 0px; height: 0; visibility: hidden; }

#wrap {
	background: #fff;
	width: 852px;
	margin: 15px auto 0px;
	padding: 0px 0px 0px 0px;
	border: 1px solid #333;
	}

/************************************************
*	Hyperlinks									*
************************************************/

a, a:visited {
	color: #2255AA;
	text-decoration: none;
	}
	
a:hover {
	text-decoration: underline;
	}
	
/************************************************
*	Header  									*
************************************************/

#header {
	background: #FFFFFF;
	width: 852px;
	height: 110px;
	color: #333333;
	font-size: 24px;
	margin: 0px auto 0px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
	}
	
#header a img {
	border: none;
	margin: 0px;
	padding: 0px;
	}
	
#header h1 {
	color: #222222;
	font-size: 36px;
	font-family: Times New Roman, Georgia, Arial;
	font-weight: normal;
	margin: 0px;
	padding: 25px 0px 0px 20px;
	text-decoration: none;
	}
	
#header h1 a, #header h1 a:visited {
	color: #222222;
	font-size: 36px;
	font-family: Times New Roman, Georgia, Arial;
	font-weight: normal;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	}
	
#header h1 a:hover {
	color: #222222;
	text-decoration: none;
	}

#headerleft {
	width: 560px;
	float: left;
	font-size: 14px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
	}
	
#headerleft p {
	color: #666666;
	font-size: 16px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: normal;
	margin: 0px;
	padding: 0px 0px 0px 25px;
	text-decoration: none;
	}
	
#headerright {
	width: 270px;
	float: right;
	font-size: 12px;
	text-align: right;
	margin: 0px;
	padding: 40px 20px 0px 0px;
	overflow: hidden;
	}
	
#headerright p {
	color: #666666;
	font-size: 18px;
	font-family: Times New Roman, Georgia, Arial;
	font-weight: normal;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	text-decoration: none;
	}
	
/************************************************
*	Navbar										*
************************************************/
#menu {
	width: 100%;
	margin: 0 auto 0; padding: 0;
	background: #333;
	height: 32px;
}
#menu ul {
	float: left;
	list-style: none;
	margin: 0; padding: 0;
}
#menu li {
	float: left;
	list-style: none;
	margin: 0; padding: 0;
}
#menu li a {
	color: #FFF;
	display: block;
	font-weight: normal;
    margin: 0; padding: 9px 15px 9px 15px;
	text-decoration: none;
}
#menu li a:hover {
	background: #FFFFFF;
	color: #666666;
}
#menu li li a {
	background: #333;
	width: 170px;
	color: #FFF;
	float: none;
	margin: 0px;
	padding: 7px 10px 7px 10px;
}
#menu li li a:hover {
	background: #FFF;
	color: #333;
	padding: 7px 10px 7px 10px;
}
#menu li ul {
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 190px;
	margin: 0; padding: 0;
}
#menu li li { 
}
#menu li ul a { 
	width: 160px;
}
#menu li ul a:hover { 
}
#menu li ul ul {
	margin: -29px 0 0 180px;
}
#menu li:hover ul ul, #menu li:hover ul ul ul, #menu li.sfhover ul ul, #menu li.sfhover ul ul ul {
	left: -999em;
}
#menu li:hover ul, #menu li li:hover ul, #menu li li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul, #menu li li li.sfhover ul {
	left: auto;
}
#menu li:hover, #menu li.sfhover { 
	position: static;
}
	
/************************************************
*	Hometop 					     		    * 
************************************************/

#hometop {
	width: 810px;
	height: 260px;
	margin: 0px auto 0px;
	padding: 15px 10px 5px 10px;
	line-height: 20px;
	}

#hometop p {
	padding: 0px 0px 10px 0px;
	margin: 0px;
	}
	
#hometop h1 {
	color: #2255AA;
	font-size: 22px;
	font-family: Times New Roman, Georgia, Arial;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	}
	
#hometop h1 a, #hometop h1 a:visited  {
	color: #2255AA;
	text-decoration: none;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	}

#hometop h1 a:hover {
	color: #2255AA;
	text-decoration: none;
	}
	
#hometop img,
#hometop #rotator-wrapper {
	float: left;
	border: none;
	margin: 0px 20px 10px 0px;
	}
	
/************************************************
*	Bottom Sidebars					     		* 
************************************************/

#bottom {
	background: #EDEDED;
	width: 852px;
	margin: 0px auto 0px;
	padding: 15px 0px 20px 0px;
	line-height: 20px;
	border-top: 5px solid #333;
	clear: both;
	}

#bottom p {
	padding: 0px 0px 0px 0px;
	margin: 0px;
	}
	
#bottom h2 {
	color: #000000;
	font-size: 18px;
	font-family: Times New Roman, Georgia, Arial;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	}
	
#bottom h2 a, #bottom h2 a:visited  {
	color: #000000;
	text-decoration: none;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	}

#hometop h2 a:hover {
	color: #000000;
	text-decoration: none;
	}
	
#bottom img{
	float: left;
	border: none;
	margin: 0px 0px 10px 0px;
	}
	
#bottom ul{
	list-style-type: square;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}
	
#bottom ul li{
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	}	
	
.bottomleft {
	float: left;
	width: 247px;
	margin: 0px 0px 0px 0px;
	padding: 20px 20px 0px 25px;
	overflow: hidden;
	}
	
.bottommiddle {
	float: left;
	width: 247px;
	margin: 0px 0px 0px 0px;
	padding: 20px 20px 0px 25px;
	border-right: 1px dotted #333;
	border-left: 1px dotted #333;
	overflow: hidden;
	}
	
.bottomright {
	float: right;
	width: 225px;
	margin: 0px 0px 0px 0px;
	padding: 20px 20px 0px 20px;
	overflow: hidden;
	}

/************************************************
*	Content 					     		    * 
************************************************/

#content {
	width: 850px;
	margin: 0px auto 0px;
	padding: 0px 0px 0px 0px;
	line-height: 20px;
	min-height: 300px;
	clear: both;
	}

#content p {
	padding: 0px 0px 15px 0px;
	margin: 0px;
	}
	
#content h1 {
	color: #2255AA;
	font-size: 22px;
	font-family: Times New Roman, Georgia, Arial;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 0px 0px;
	}
	
#content h1 a, #content h1 a:visited  {
	color: #2255AA;
	text-decoration: none;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	}

#content h1 a:hover {
	color: #222222;
	text-decoration: none;
	}

#content h2 {
	color: #2255AA;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	padding: 10px 0px 3px 0px;
	margin: 0px 0px 5px 0px;
	border-bottom: double #C0C0C0;
	}
	
#content h4 {
	color: #2255AA;
	font-size: 22px;
	font-family: Times New Roman, Georgia, Arial;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 0px 0px;
	}
	
#content img.wp-smiley {
	float: none;
	border: none;
	padding: 0px;
	margin: 0px;
	}

#content img.wp-wink {
	float: none;
	border: none;
	padding: 0px;
	margin: 0px;
	}
	
blockquote {
	margin: 0px 20px 15px 20px;
	padding: 5px 0px 5px 15px;
	border-left: 5px solid #C0C0C0;
	}
	
#content blockquote p {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}
	
#contentleft {
	float: left;
	width: 600px;
	margin: 0px 0px 0px 0px;
	padding: 15px 0px 20px 20px;
	}
	
#contentleft ol {
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 15px 0px;
	}
	
#contentleft ol li {
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	}
	
#contentleft ul {
	list-style-type: square;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 15px 0px;
	}
	
#contentleft ul li {
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	}
	
#contentright {
	float: right;
	width: 600px;
	margin: 0px 0px 0px 0px;
	padding: 15px 0px 20px 0px;
	}
	
#contentright ol {
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 15px 0px;
	}
	
#contentright ol li {
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	}
	
#contentright ul {
	list-style-type: square;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 15px 0px;
	}
	
#contentright ul li {
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	}
		
.archive {
	float: left;
	width: 250px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 20px 0px;
	}

.postmeta {
	font-size: 12px;
	padding: 5px 0px 50px 0px;
	margin: 0px;
	border-top: 1px dotted #C0C0C0;
	}
	
/************************************************
*	News Page   					     		* 
************************************************/

#newspage {
	width: 760px;
	margin: 0px auto 0px;
	padding: 20px 0px 0px 0px;
	line-height: 20px;
	}
	
#newspage h2 {
	color: #2255AA;
	font-size: 22px;
	font-family: Times New Roman, Georgia, Arial;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 0px 0px;
	}

#newspage p {
	padding: 0px 0px 0px 0px;
	margin: 0px;
	}
	
#newspage img {
	border: none;
	margin: 0px 0px 10px 0px;
	}
	
#newspage ul{
	list-style-type: square;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}
	
#newspage ul li{
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	}	
	
#newspageleft {
	float: left;
	width: 350px;
	margin: 0px 0px 0px 0px;
	padding: 0px 20px 10px 10px;
	overflow: hidden;
	border-right: 1px solid #C0C0C0;
	}

#newspageright {
	float: right;
	width: 350px;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 10px 0px;
	overflow: hidden;
	}
	
/************************************************
*	Featured Top 					     		 * 
************************************************/

#featuredtop {
	background: #fff;
	width: 810px;
	height: 260px;
	margin: 0px auto 0px;
	padding: 15px 20px 10px 20px;
	line-height: 20px;
	border-bottom: 5px solid #666666;
	}
	
#featuredtop p {
	padding: 0px 0px 10px 0px;
	margin: 0px;
	}
	
#featuredtop h1 {
	color: #2255AA;
	font-size: 22px;
	font-family: Times New Roman, Georgia, Arial;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 0px 0px;
	}
	
#featuredtop h1 a, #featuredtop h1 a:visited  {
	color: #2255AA;
	text-decoration: none;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	}

#featuredtop h1 a:hover {
	color: #2255AA;
	text-decoration: none;
	}
	
#featuredtop img {
	float: right;
	border: none;
	margin: 0px 0px 10px 20px;
	}

/************************************************
*	Info Top 					     		 * 
************************************************/

#infotop {
	background: #fff;
	width: 810px;
	height: 260px;
	margin: 0px auto 0px;
	padding: 15px 20px 10px 20px;
	line-height: 20px;
	border-bottom: 0px solid #666666;
	}
	
#infotop p {
	padding: 0px 0px 10px 0px;
	margin: 0px;
	}
	
#infotop h1 {
	color: #788895;
	font-size: 22px;
	font-family: Times New Roman, Georgia, Arial;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 0px 0px;
	}
	
#infotop h1 a, #featuredtop h1 a:visited  {
	color: #788895;
	text-decoration: none;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	}

#infotop h1 a:hover {
	color: #000;
	text-decoration: none;
	}
	
#infotop img {
	float: right;
	border: none;
	margin: 0px 0px 10px 20px;
	}

/************************************************
*	Left Sidebar                    	        * 
************************************************/

#l_sidebar {
	float: left;
	width: 200px;
	margin: 0px;
	padding: 10px 0px 20px 20px;
	line-height: 20px;
	display: inline;
	}
	
#l_sidebar p {
	padding: 0px 0px 15px 0px;
	margin: 0px;
	}
	
#l_sidebar a img {
	border: none;
	margin: 0px 0px 3px 0px;
	padding: 0px;
	}
	
#l_sidebar h2 {
	color: #202020;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	padding: 10px 0px 3px 0px;
	margin: 0px 0px 5px 0px;
	border-bottom: double #C0C0C0;
	}
	
#l_sidebar ul {
	list-style-type: none;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	}
	
#l_sidebar .widget {
	width: 200px;
	overflow: hidden;
	}
	
/************************************************
*	Right Sidebar								*
************************************************/

#r_sidebar {
	float: right;
	width: 200px;
	margin: 0px;
	padding: 10px 20px 20px 0px;
	line-height: 20px;
	display: inline;
	}
	
#r_sidebar p {
	padding: 0px 0px 15px 0px;
	margin: 0px;
	}
	
#r_sidebar a img {
	border: none;
	margin: 0px 3px 5px 0px;
	padding: 0px;
	}
	
#r_sidebar h2 {
	color: #202020;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	padding: 10px 0px 3px 0px;
	margin: 0px 0px 5px 0px;
	border-bottom: double #C0C0C0;
	}

#r_sidebar ul {
	list-style-type: none;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	}
	
#r_sidebar .widget {
	width: 200px;
	overflow: hidden;
	}
	
/************************************************
*	Widgets 									*
************************************************/

#subscribe ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

#subscribe ul li {
	background: #FFFFFF url(images/rss.gif) no-repeat top left;
	padding: 0px 0px 5px 20px;
	margin: 0px 0px 0px 0px;
	}

#recent-posts ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

#recent-posts ul li {
	background: #FFFFFF url(images/icon_recent.gif) no-repeat top left;
	padding: 0px 0px 5px 18px;
	margin: 0px 0px 0px 0px;
	}
	
#recent-comments ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

#recent-comments ul li {
	background: #FFFFFF url(images/icon_links.gif) no-repeat top left;
	padding: 0px 0px 5px 18px;
	margin: 0px 0px 0px 0px;
	}
	
#categories-1 ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

#categories-1 ul li {
	background: #FFFFFF url(images/icon_categories.gif) no-repeat top left;
	padding: 0px 0px 5px 18px;
	margin: 0px 0px 0px 0px;
	}
	
#archives ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

#archives ul li {
	background: #FFFFFF url(images/icon_archives.gif) no-repeat top left;
	padding: 0px 0px 5px 18px;
	margin: 0px 0px 0px 0px;
	}
	
#pages ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

#pages ul li {
	background: #FFFFFF url(images/icon_meta.gif) no-repeat top left;
	padding: 0px 0px 5px 18px;
	margin: 0px 0px 0px 0px;
	}
	
#links ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

#links ul li {
	background: #FFFFFF url(images/icon_links.gif) no-repeat top left;
	padding: 0px 0px 5px 18px;
	margin: 0px 0px 0px 0px;
	}

#meta ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

#meta ul li {
	background: #FFFFFF url(images/icon_meta.gif) no-repeat top left;
	padding: 0px 0px 5px 18px;
	margin: 0px 0px 0px 0px;
	}
	
#text-1 ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

#text-1 ul li {
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 0px 0px;
	}
	

/************************************************
*	Footer      								*
************************************************/

#footer {
	background: #d6d6d6;
	width: 852px;
	margin: 0px auto 0px;
	padding: 0px 0px 0px 0px;
	line-height: 20px;
	}
	
#footer p {
	color: #555555;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	margin: 0px;
	padding: 0px 10px 0px 10px;
	}
	
#footer a, #footer a:visited {
	color: #555555;
	text-decoration: none;
	}
	
#footer a:hover {
	text-decoration: underline;
	}
	
#footer a img {
	border: none;
	margin: 0px 0px 0px 10px;
	padding: 0px;
	}
	
.footerleft {
	width: 375px;
	float: left;
	margin: 0px;
	padding: 20px 0px 0px 30px;
	}
	
.footerright {
	width: 375px;
	float: right;
	margin: 0px;
	padding: 20px 30px 0px 0px;
	text-align: right;
	}

/************************************************
*	Search Form									*
************************************************/

#searchdiv {
	margin: 0px;
	padding: 0px;
	}
	
#searchform {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	}
	
#s-head {
	background: #FFFFFF;
	width: 240px;
	color: #333333;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	padding: 4px;
	margin: 5px 0px 20px 0px;
	border-top: 1px solid #666666;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #DDDDDD;
	}
	
#s {
	background: #FFFFFF;
	width: 220px;
	color: #333333;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	padding: 4px;
	margin: 5px 0px 20px 0px;
	border-top: 1px solid #666666;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #DDDDDD;
	}
	
#signup {
	background: #F5F5F5;
	width: 240px;
	color: #333333;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	padding: 4px;
	margin: 0px;
	border-top: 1px solid #666666;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #DDDDDD;
	}

#name, #email, #url {
	background: #FFFFFF;
	color: #333333;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	padding: 4px;
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #666666;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #DDDDDD;
	}
	
#submit {
	background: #DDDDDD;
	color: #333333;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	padding: 4px;
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #666666;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #666666;
	}
	
#words {
	background: #FFFFFF;
	width: 380px;
	color: #333333;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	padding: 4px;
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #666666;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #DDDDDD;
	}
	
/************************************************
*	Comments									*
************************************************/

	
#commentblock {
	color: #000000;
	float: left;
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 0px 0px;
	}
	
#commentblock ol {
	list-style-type: square;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	}
	
.commentdate {
	font-weight: bold;
	font-size: 12px;
	}

.commentname {
	color: #000000;
	font-weight: bold;
	margin: 0px;
	padding: 5px 0px 0px 0px;
	}

.commentinfo {
	clear: both;
	}

.commenttext {
	color: #000000;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	padding: 0px 0px 0px 0px;
	margin: 5px 0px 20px 0px;
	border-bottom: 1px dotted #C0C0C0;
	}

.commenttext-admin {
	color: #000000;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	padding: 0px 0px 0px 0px;
	margin: 5px 0px 20px 0px;
	border-bottom: 1px dotted #C0C0C0;
	}
#ithemes-contact-page-name,
#ithemes-contact-page-website,
#ithemes-contact-page-email,
#ithemes-contact-page-form textarea {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 17px;
	}
#commentform textarea {
	width: 580px;
}
#commentform textarea,
#commentform input {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 17px;
	}

/*********************************************
		The Obligatory WP Stuff
*********************************************/
.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.alignleft {
   float: left;
}
.alignright {
   float: right;
}
.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
}
.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}
.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
}
